:root {
  --test: white;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}
svg {
  box-sizing: content-box;
}
main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Contacts_Section {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Contacts_Top {
  padding-left: 8px;
  padding-right: 8px;
}

.Contacts_Top_Items {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.Top_Nav {
  display: flex;
  justify-content: space-between;
  color: blue;
  padding: 8px;
}

.Contacts_Search_Container {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid gainsboro;
  padding-bottom: 20px;
}
#Contacts_Search {
  width: 100%;
  background-color: rgb(240, 240, 240);
  border-radius: 7px;
  font-size: 1rem;
  padding: 2px 8px;
}

.Contacts_Main {
  overflow-y: scroll;
}

.Contacts_My_Profile {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

#Contacts_Container {
  padding-left: 8px;
  padding-right: 8px;
}

.Contacts_Category {
  background-color: gainsboro;
}
.Contacts_Header {
  background-color: rgb(255, 255, 255);
  padding: 4px 10px;
  border-bottom: 2px solid gainsboro;
}

.Contacts_Holder {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.Contacts {
  text-align: left;
  padding: 8px 10px;
  border: 0;
  color: rgb(85, 85, 85);
  background-color: white;
}
.Contacts::first-letter {
  font-weight: bold;
}
.Contacts:hover {
  background-color: rgb(240, 240, 240);
}
.Contacts:active {
  background-color: rgb(230, 230, 230);
}

.Information_Section {
  background-color: cadetblue;
  flex-grow: 1;
}

.Information_Identity {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Information_Profile {
  height: 100px;
}

.Information_Interact {
  display: flex;
  justify-content: space-evenly;
}
.Information_Interact_Button {
  color: rgb(0, 68, 255);
}

.Information_Interact_Button_SVG {
  height: 25px;
  background-color: rgb(0, 68, 255);
  fill: white;
  border-radius: 100%;
}
.Information_Interact_Button > p {
  margin: 0;
}

.Information_Main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Information_Contact_Items {
  display: flex;
  background-color: gray;
}
.Information_Contact_Logo {
  background-color: rgb(241, 241, 241);
  border-radius: 100%;
  padding: 8px;
  fill: blue;
}
.Information_Contact_Header {
  margin: 0;
  font-weight: normal;
}
.Information_Contant_Content {
  margin: 0;
  color: blue;
}

@media screen and (max-width: 630px) {
  /* … */
  .Contacts_Section {
    width: 100%;
  }
  .Information_Section {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
  }
}

/* --------------- */

/* #Contacts-Container {
  background-color: aquamarine;
}

.Contact {
  display:  flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 8px;
  background-color: gray;
  border: 0;
}

.Contact_Profile_IMG {
  width: 50px;
  height: 50px;
} */
